[Unit]
Description=Glass Flask Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/glass
ExecStart=/opt/glass/run.sh
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

